#include "stm32mp157a-ugeast-mx.dts"


/ {
	panel_rgb: panel-rgb {
		compatible = "auo,b101aw03";
		status = "okay";
		power-supply = <&lcd_3v3>;
		port {
			panel_in_rgb: endpoint {
				remote-endpoint = <&ltdc_out_rgb>;
			};
		};
	};

	panel_pwr: regulator-panel_pwr {
		compatible = "regulator-fixed";
		regulator-name = "panel_pwr";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpiob 10 0>;
		//enable-active-low;
		regulator-always-on;
	};	
	
	panel_backlight: panel-backlight {
            compatible = "gpio-backlight";
            gpios = <&gpiod 13 0>;
            default-on;
            status = "okay";
    };

};

&i2c2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c2_pins_mx>;
	pinctrl-1 = <&i2c2_sleep_pins_mx>;
	i2c-scl-rising-time-ns = <185>;
	i2c-scl-falling-time-ns = <20>;
	status = "okay";
	/delete-property/dmas;
	/delete-property/dma-names;

	polytouch: edt-ft5x26@38 {
		compatible = "edt,edt-ft5526";
		reg = <0x38>;
		pinctrl-names = "default";		
		pinctrl-0 = <&pinctrl_edt_ft5x26>;
		interrupt-parent = <&gpiob>;
		interrupts = <3 0>;	
    };
};

&pinctrl {
	pinctrl_edt_ft5x26: pinctrl_edt_ft5x26-0 {
            pins {
			pinmux = <STM32_PINMUX('B', 3, GPIO)>;
		};
	};
	
	 
    lcd_pins_ugea: lcd-0 {
        pins {
            pinmux = <STM32_PINMUX('G', 10, AF14)>, /* LTDC_B2 */
                    <STM32_PINMUX('H', 12, AF14)>, /* LTDC_R6 */
                    <STM32_PINMUX('H', 11, AF14)>, /* LTDC_R5 */
                    <STM32_PINMUX('D', 10, AF14)>, /* LTDC_B3 */
                    <STM32_PINMUX('D', 9, AF14)>, /* LTDC_B0 */
                    <STM32_PINMUX('E', 5, AF14)>, /* LTDC_G0 */
                    <STM32_PINMUX('E', 6, AF14)>, /* LTDC_G1 */
                    <STM32_PINMUX('E', 13, AF14)>, /* LTDC_DE */
                    <STM32_PINMUX('E', 15, AF14)>, /* LTDC_R7 */
                    <STM32_PINMUX('G', 7, AF14)>, /* LTDC_CLK */
                    <STM32_PINMUX('G', 12, AF14)>, /* LTDC_B1 */
                    <STM32_PINMUX('H', 2, AF14)>, /* LTDC_R0 */
                    <STM32_PINMUX('H', 3, AF14)>, /* LTDC_R1 */
                    <STM32_PINMUX('H', 8, AF14)>, /* LTDC_R2 */
                    <STM32_PINMUX('H', 9, AF14)>, /* LTDC_R3 */
                    <STM32_PINMUX('H', 10, AF14)>, /* LTDC_R4 */
                    <STM32_PINMUX('H', 13, AF14)>, /* LTDC_G2 */
                    <STM32_PINMUX('H', 14, AF14)>, /* LTDC_G3 */
                    <STM32_PINMUX('H', 15, AF14)>, /* LTDC_G4 */
                    <STM32_PINMUX('I', 0, AF14)>, /* LTDC_G5 */
                    <STM32_PINMUX('I', 1, AF14)>, /* LTDC_G6 */
                    <STM32_PINMUX('I', 2, AF14)>, /* LTDC_G7 */
                    <STM32_PINMUX('I', 4, AF14)>, /* LTDC_B4 */
                    <STM32_PINMUX('I', 5, AF14)>, /* LTDC_B5 */
                    <STM32_PINMUX('B', 8, AF14)>, /* LTDC_B6 */
                    <STM32_PINMUX('I', 7, AF14)>, /* LTDC_B7 */
                    <STM32_PINMUX('I', 9, AF14)>, /* LTDC_VSYNC */
                    <STM32_PINMUX('I', 10, AF14)>; /* LTDC_HSYNC */
            bias-disable;
            drive-push-pull;
            slew-rate = <3>;
        };
    };
};



&ltdc {
	status = "okay";
	pinctrl-0 = <&lcd_pins_ugea>;
	pinctrl-names = "default";
	
    backlight = <&panel_backlight>;
    powerdown-gpios = <&gpiof 2 1>;
	
    port {
        #address-cells = <1>;
		#size-cells = <0>;
		
		ltdc_out_rgb: endpoint@0 {
            reg = <0>;
			remote-endpoint = <&panel_in_rgb>;
		};
	};
};
