/* SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause) */
/*
 * Copyright (C) STMicroelectronics 2019 - All Rights Reserved
 * Author: STM32CubeMX code generation for STMicroelectronics.
 */

/dts-v1/;
#include "stm32mp157c.dtsi"
#include "stm32mp157cac-pinctrl.dtsi"
#include "stm32mp157c-m4-srm.dtsi"
#include <dt-bindings/rtc/rtc-stm32.h>

/* USER CODE BEGIN includes */
/* USER CODE END includes */

/ {
	model = "Engicam MicroGEA STM32MP1 starterkit";
	compatible = "st,stm32mp157a-ugeast-mx", "st,stm32mp157";

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		retram: retram@0x38000000 {
			compatible = "shared-dma-pool";
			reg = <0x38000000 0x10000>;
			no-map;
		};

		mcuram: mcuram@0x30000000 {
			compatible = "shared-dma-pool";
			reg = <0x30000000 0x40000>;
			no-map;
		};

		mcuram2: mcuram2@0x10000000 {
			compatible = "shared-dma-pool";
			reg = <0x10000000 0x40000>;
			no-map;
		};

		vdev0vring0: vdev0vring0@10040000 {
			compatible = "shared-dma-pool";
			reg = <0x10040000 0x2000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@10042000 {
			compatible = "shared-dma-pool";
			reg = <0x10042000 0x2000>;
			no-map;
		};

		vdev0buffer: vdev0buffer@10044000 {
			compatible = "shared-dma-pool";
			reg = <0x10044000 0x4000>;
			no-map;
		};

		gpu_reserved: gpu@cc000000 {
			reg = <0xcc000000 0x4000000>;
			no-map;
		};
	};
	sram: sram@10050000 {
		compatible = "mmio-sram";
		reg = <0x10050000 0x10000>;
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0 0x10050000 0x10000>;

		dma_pool: dma_pool@0 {
			reg = <0x0 0x10000>;
			pool;
		};
	};

	
	vddcore: regulator-vddcore {
		compatible = "regulator-fixed";
		regulator-name = "vddcore";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		regulator-always-on;
	};

	vdd: regulator-vdd {
		compatible = "regulator-fixed";
		regulator-name = "vdd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	vdd_usb: regulator-vdd_usb {
		compatible = "regulator-fixed";
		regulator-name = "vdd_usb";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	vdda: regulator-vdda {
		compatible = "regulator-fixed";
		regulator-name = "vdda";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	vdd_ddr: regulator-vdd_ddr {
		compatible = "regulator-fixed";
		regulator-name = "vdd_ddr";
		regulator-min-microvolt = <1350000>;
		regulator-max-microvolt = <1350000>;
		regulator-always-on;
	};

	vtt_ddr: regulator-vtt_ddr {
		compatible = "regulator-fixed";
		regulator-name = "vtt_ddr";
		regulator-min-microvolt = <675000>;
		regulator-max-microvolt = <675000>;
		regulator-always-on;
		vin-supply = <&vdd>;
	};

	vref_ddr: regulator-vref_ddr {
		compatible = "regulator-fixed";
		regulator-name = "vref_ddr";
		regulator-min-microvolt = <675000>;
		regulator-max-microvolt = <675000>;
		regulator-always-on;
		vin-supply = <&vdd>;
	};

	vdd_sd: regulator-vdd_sd {
		compatible = "regulator-fixed";
		regulator-name = "vdd_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	v3v3: regulator-v3v3 {
		compatible = "regulator-fixed";
		regulator-name = "v3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	v2v8: regulator-v2v8 {
		compatible = "regulator-fixed";
		regulator-name = "v2v8";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		regulator-always-on;
		vin-supply = <&v3v3>;
	};

	v1v8: regulator-v1v8 {
		compatible = "regulator-fixed";
		regulator-name = "v1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		vin-supply = <&v3v3>;
	};

	vbus_otg: regulator-vbus_otg {
		compatible = "regulator-fixed";
		regulator-name = "vbus_otg";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
        regulator-always-on;
	};

	lcd_3v3: regulator-lcd_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "lcd_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpiof 10 0>;
		enable-active-high;
		regulator-always-on;
	};

	reg_wifi: regulator-wifi {
		compatible = "regulator-fixed";
		regulator-name = "wifi";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpiob 4 1>;
		startup-delay-us = <100>;
        enable-active-high;
        regulator-always-on;
	};

	reg_bl: regulator-bt {
		compatible = "regulator-fixed";
		regulator-name = "bt";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpioa 0 1>;
		startup-delay-us = <100>;
        enable-active-high;
        regulator-always-on;
	};
	
	/* USER CODE BEGIN root */
	
	sram: sram@10050000 {
		compatible = "mmio-sram";
		reg = <0x10050000 0x10000>;
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0 0x10050000 0x10000>;

		dma_pool: dma_pool@0 {
			reg = <0x0 0x10000>;
			pool;
		};
	};
	
	aliases {
		ethernet0 = &ethernet0;
		serial0 = &uart4;
		serial1 = &uart8;
		serial2 = &usart3;
		serial3 = &uart7;
		serial4 = &usart1;		
	};

	usb_phy_tuning: usb-phy-tuning {
		st,hs-dc-level = <2>;
		st,fs-rftime-tuning;
		st,hs-rftime-reduction;
		st,hs-current-trim = <15>;
		st,hs-impedance-trim = <1>;
		st,squelch-level = <3>;
		st,hs-rx-offset = <2>;
		st,no-lsfs-sc;
	};
	
	/* USER CODE END root */

    clocks {
        /* USER CODE BEGIN clocks */
        /* USER CODE END clocks */

        clk_hsi: clk-hsi {
            clock-frequency = <64000000>;
        };
        clk_csi: clk-csi {
            clock-frequency = <4000000>;
        };
        clk_lse: clk-lse {
            clock-frequency = <32768>;
        };
        clk_hse: clk-hse {
            clock-frequency = <24000000>;
        };
    };
}; /*root*/



&pinctrl_z {
    usart1_pins_mx: usart1_mx-0 {
        u-boot,dm-pre-reloc;
        pins1 {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('Z', 6, AF7)>; /* USART1_RX */
            bias-disable;
        };
        pins2 {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('Z', 7, AF7)>; /* USART1_TX */
            bias-disable;
            drive-push-pull;
            slew-rate = <0>;
        };
    };
};

&pinctrl {
    u-boot,dm-pre-reloc;
    eth1_pins_mx: eth1_mx-0 {
				pins1 {
					pinmux = <STM32_PINMUX('A', 2, AF11)>, /* ETH_MDIO */
						 <STM32_PINMUX('C', 1, AF11)>, /* ETH_MDC */
						 <STM32_PINMUX('A', 7, AF11)>, /* ETH_RX_DV */
						 <STM32_PINMUX('B', 11, AF11)>, /* ETH_TX_EN */
						 <STM32_PINMUX('C', 4, AF11)>, /* ETH_RX_D0 */
						 <STM32_PINMUX('C', 5, AF11)>, /* ETH_RX_D1 */
						 <STM32_PINMUX('G', 13, AF11)>, /* ETH_TX_D0 */
						 <STM32_PINMUX('G', 14, AF11)>; /* ETH_TX_D1 */
					bias-disable;
					drive-push-pull;
					slew-rate = <3>;
				};
        
        pins2 {
          pinmux = <STM32_PINMUX('A', 1, AF0)>; /* ETH_CLK */
          bias-disable;
          slew-rate = <1>;
        };
         
    };

    eth_res: eth_res-0 {
        pins {
            pinmux = <STM32_PINMUX('A', 13, GPIO)>;
            bias-pull-up;
            drive-push-pull;
            output-high;
            slew-rate = <0>;
        };
    };

    fdcan1_pins_mx: fdcan1_mx-0 {
        pins1 {
            pinmux = <STM32_PINMUX('I', 9, AF9)>; /* FDCAN1_RX */
            bias-disable;
        };
        pins2 {
            pinmux = <STM32_PINMUX('B', 9, AF9)>; /* FDCAN1_TX */
            bias-disable;
            drive-push-pull;
            slew-rate = <0>;
        };
    };
 
    i2c2_pins_mx: i2c2_mx-0 {
        pins {
            pinmux = <STM32_PINMUX('H', 4, AF4)>, /* I2C2_SCL */
                     <STM32_PINMUX('H', 5, AF4)>; /* I2C2_SDA */
            bias-disable;
            drive-open-drain;
            slew-rate = <0>;
        };
    };
    i2c4_pins_mx: i2c4_mx-0 {
        pins {
            pinmux = <STM32_PINMUX('H', 11, AF4)>, /* I2C4_SCL */
                     <STM32_PINMUX('H', 12, AF4)>; /* I2C4_SDA */
            bias-disable;
            drive-open-drain;
            slew-rate = <0>;
        };
    };
    rtc_pins_mx: rtc_mx-0 {
        pins {
            pinmux = <STM32_PINMUX('I', 8, ANALOG)>; /* RTC_LSCO */
        };
    };
    sai2b_pins_mx: sai2b_mx-0 {
        pins {
            pinmux = <STM32_PINMUX('E', 11, AF10)>, /* SAI2_SD_B */
                     <STM32_PINMUX('E', 12, AF10)>, /* SAI2_SCK_B */
                     <STM32_PINMUX('E', 13, AF10)>, /* SAI2_FS_B */
                     <STM32_PINMUX('E', 14, AF10)>; /* SAI2_MCLK_B */
            bias-disable;
            drive-push-pull;
            slew-rate = <0>;
        };
    };
    sdmmc1_pins_mx: sdmmc1_mx-0 {
        u-boot,dm-pre-reloc;
        pins1 {
                pinmux = <STM32_PINMUX('C', 8, AF12)>, /* SDMMC1_D0 */
                            <STM32_PINMUX('C', 9, AF12)>, /* SDMMC1_D1 */
                            <STM32_PINMUX('C', 10, AF12)>, /* SDMMC1_D2 */
                            <STM32_PINMUX('C', 11, AF12)>, /* SDMMC1_D3 */
                            <STM32_PINMUX('D', 2, AF12)>; /* SDMMC1_CMD */
                slew-rate = <3>;
                drive-push-pull;
                bias-pull-up;
        };
        pins2 {
                pinmux = <STM32_PINMUX('C', 12, AF12)>; /* SDMMC1_CK */
                slew-rate = <3>;
                drive-push-pull;
                bias-pull-down;
        };
    };

    sdmmc3_pins_mx: sdmmc3_mx-0 {
        u-boot,dm-pre-reloc;
        pins1 {
                pinmux = <STM32_PINMUX('F', 0, AF9)>, /* SDMMC2_D0 */
                            <STM32_PINMUX('F', 4, AF9)>, /* SDMMC2_D1 */
                            <STM32_PINMUX('F', 5, AF9)>, /* SDMMC2_D2 */
                            <STM32_PINMUX('D', 7, AF10)>, /* SDMMC2_D3 */
                            <STM32_PINMUX('F', 1, AF9)>; /* SDMMC2_CMD */
                slew-rate = <0>;
			    drive-push-pull;
                bias-pull-up;
        };
        pins2 {
                pinmux = <STM32_PINMUX('G', 15, AF10)>; /* SDMMC2_CK */
                slew-rate = <0>;
                drive-push-pull;
                bias-pull-down;
        };
    };

    uart4_pins_mx: uart4_mx-0 {
        u-boot,dm-pre-reloc;
        pins1 {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('G', 11, AF6)>; /* UART4_TX */
            bias-disable;
            drive-push-pull;
            slew-rate = <0>;
        };
        pins2 {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('B', 2, AF8)>; /* UART4_RX */
            bias-disable;
        };
    };

    usart3_pins_mx: usart3_mx-0 {
        u-boot,dm-pre-reloc;
        pins1 {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('B', 12, AF8)>; /* USART3_RX */
            bias-disable;
        };
        pins2 {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('D', 8, AF7)>, /* USART3_TX */
                     <STM32_PINMUX('G', 8, AF8)>; /* USART3_RTS */
            bias-disable;
            drive-push-pull;
            slew-rate = <0>;
        };
    };
    uart7_pins_mx: uart7_mx-0 {
        u-boot,dm-pre-reloc;
        pins1 {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('F', 6, AF7)>, /* USART7_RX */
                     <STM32_PINMUX('F', 8, AF7)>; /* USART7_RTS */
            bias-disable;
        };
        pins2 {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('F', 7, AF7)>, /* USART7_TX */
                     <STM32_PINMUX('F', 9, AF7)>; /* USART7_CTS */
            bias-disable;
            drive-push-pull;
            slew-rate = <0>;
        };
    };

    uart8_pins_mx: usart8_mx-0 {
        u-boot,dm-pre-reloc;
        pins1 {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('E', 0, AF8)>; /* UART8_RX */
            bias-disable;
        };
        pins2 {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('E', 1, AF8)>; /* UART8_TX */
            bias-disable;
            drive-push-pull;
            slew-rate = <0>;
        };
    };

    usb_otg_hs_pins_mx: usb_otg_hs_mx-0 {
        pins {
            pinmux = <STM32_PINMUX('A', 10, ANALOG)>; /* USB_OTG_HS_ID */
        };
    };
    /*eth1_sleep_pins_mx: eth1_sleep_mx-0 {
        pins {
            pinmux = <STM32_PINMUX('A', 1, ANALOG)>, // ETH1_CLK 
                     <STM32_PINMUX('A', 2, ANALOG)>, // ETH1_MDIO 
                     <STM32_PINMUX('A', 7, ANALOG)>, // ETH1_CRS_DV 
                     <STM32_PINMUX('B', 11, ANALOG)>, // ETH1_TX_EN 
                     <STM32_PINMUX('C', 1, ANALOG)>, // ETH1_MDC 
                     <STM32_PINMUX('C', 4, ANALOG)>, // ETH1_RXD0 
                     <STM32_PINMUX('C', 5, ANALOG)>, // ETH1_RXD1 
                     <STM32_PINMUX('G', 13, ANALOG)>, // ETH1_TXD0 
                     <STM32_PINMUX('G', 14, ANALOG)>; // ETH1_TXD1 
        };
    };*/
    fdcan1_sleep_pins_mx: fdcan1_sleep_mx-0 {
        pins {
            pinmux = <STM32_PINMUX('B', 9, ANALOG)>, /* FDCAN1_TX */
                     <STM32_PINMUX('I', 9, ANALOG)>; /* FDCAN1_RX */
        };
    };
    fmc_sleep_pins_mx: fmc_sleep_mx-0 {
        u-boot,dm-pre-reloc;
        pins1 {
                u-boot,dm-pre-reloc;
                pinmux = <STM32_PINMUX('D', 0, AF12)>, /* FMC_D2 */
                            <STM32_PINMUX('D', 1, AF12)>, /* FMC_D3 */
                            <STM32_PINMUX('D', 4, AF12)>, /* FMC_NOE */
                            <STM32_PINMUX('D', 5, AF12)>, /* FMC_NWE */
                            <STM32_PINMUX('D', 11, AF12)>, /* FMC_CLE */
                            <STM32_PINMUX('D', 12, AF12)>, /* FMC_ALE */
                            <STM32_PINMUX('D', 14, AF12)>, /* FMC_D0 */
                            <STM32_PINMUX('D', 15, AF12)>, /* FMC_D1 */
                            <STM32_PINMUX('E', 7, AF12)>, /* FMC_D4 */
                            <STM32_PINMUX('E', 8, AF12)>, /* FMC_D5 */
                            <STM32_PINMUX('E', 9, AF12)>, /* FMC_D6 */
                            <STM32_PINMUX('E', 10, AF12)>, /* FMC_D7 */
                            <STM32_PINMUX('G', 9, AF12)>; /* FMC_NCE */
                bias-disable;
                drive-push-pull;
                slew-rate = <3>;
            };
            pins2 {
                u-boot,dm-pre-reloc;
                pinmux = <STM32_PINMUX('D', 6, AF12)>; /* FMC_NWAIT */
                bias-disable;
            };
    };

    i2c2_sleep_pins_mx: i2c2_sleep_mx-0 {
        pins {
            pinmux = <STM32_PINMUX('H', 4, ANALOG)>, /* I2C2_SCL */
                     <STM32_PINMUX('H', 5, ANALOG)>; /* I2C2_SDA */
        };
    };
    i2c4_sleep_pins_mx: i2c4_sleep_mx-0 {
        pins {
            pinmux = <STM32_PINMUX('H', 11, ANALOG)>, /* I2C4_SCL */
                     <STM32_PINMUX('H', 12, ANALOG)>; /* I2C4_SDA */
        };
    };
    ltdc_sleep_pins_mx: ltdc_sleep_mx-0 {
        pins {
            pinmux = <STM32_PINMUX('A', 3, ANALOG)>, /* LTDC_B2 */
                     <STM32_PINMUX('A', 4, ANALOG)>, /* LTDC_VSYNC */
                     <STM32_PINMUX('A', 8, ANALOG)>, /* LTDC_R6 */
                     <STM32_PINMUX('A', 9, ANALOG)>, /* LTDC_R5 */
                     <STM32_PINMUX('A', 15, ANALOG)>, /* LTDC_R1 */
                     <STM32_PINMUX('D', 10, ANALOG)>, /* LTDC_B3 */
                     <STM32_PINMUX('E', 4, ANALOG)>, /* LTDC_B0 */
                     <STM32_PINMUX('E', 5, ANALOG)>, /* LTDC_G0 */
                     <STM32_PINMUX('E', 6, ANALOG)>, /* LTDC_G1 */
                     <STM32_PINMUX('F', 10, ANALOG)>, /* LTDC_DE */
                     <STM32_PINMUX('G', 6, ANALOG)>, /* LTDC_R7 */
                     <STM32_PINMUX('G', 7, ANALOG)>, /* LTDC_CLK */
                     <STM32_PINMUX('G', 12, ANALOG)>, /* LTDC_B1 */
                     <STM32_PINMUX('H', 2, ANALOG)>, /* LTDC_R0 */
                     <STM32_PINMUX('H', 8, ANALOG)>, /* LTDC_R2 */
                     <STM32_PINMUX('H', 9, ANALOG)>, /* LTDC_R3 */
                     <STM32_PINMUX('H', 10, ANALOG)>, /* LTDC_R4 */
                     <STM32_PINMUX('H', 13, ANALOG)>, /* LTDC_G2 */
                     <STM32_PINMUX('H', 14, ANALOG)>, /* LTDC_G3 */
                     <STM32_PINMUX('H', 15, ANALOG)>, /* LTDC_G4 */
                     <STM32_PINMUX('I', 0, ANALOG)>, /* LTDC_G5 */
                     <STM32_PINMUX('I', 1, ANALOG)>, /* LTDC_G6 */
                     <STM32_PINMUX('I', 2, ANALOG)>, /* LTDC_G7 */
                     <STM32_PINMUX('I', 4, ANALOG)>, /* LTDC_B4 */
                     <STM32_PINMUX('I', 5, ANALOG)>, /* LTDC_B5 */
                     <STM32_PINMUX('I', 6, ANALOG)>, /* LTDC_B6 */
                     <STM32_PINMUX('I', 7, ANALOG)>, /* LTDC_B7 */
                     <STM32_PINMUX('I', 10, ANALOG)>; /* LTDC_HSYNC */
        };
    };

    sdmmc1_sleep_pins_mx: sdmmc1_sleep_mx-0 {
        u-boot,dm-pre-reloc;
        pins {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('C', 8, ANALOG)>, /* SDMMC1_D0 */
                     <STM32_PINMUX('C', 9, ANALOG)>, /* SDMMC1_D1 */
                     <STM32_PINMUX('C', 10, ANALOG)>, /* SDMMC1_D2 */
                     <STM32_PINMUX('C', 11, ANALOG)>, /* SDMMC1_D3 */
                     <STM32_PINMUX('C', 12, ANALOG)>, /* SDMMC1_CK */
                     <STM32_PINMUX('D', 2, ANALOG)>; /* SDMMC1_CMD */
        };
    };
    usbo_pins_a: usbo-0 {
        pins {
            pinmux = <STM32_PINMUX('A', 10, ANALOG)>; /* USBO_ID */
        };
    };

    fmc_pins_a: fmc-0 {
        u-boot,dm-pre-reloc;
        pins1 {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('D', 0, AF12)>, /* FMC_D2 */
                        <STM32_PINMUX('D', 1, AF12)>, /* FMC_D3 */
                        <STM32_PINMUX('D', 4, AF12)>, /* FMC_NOE */
                        <STM32_PINMUX('D', 5, AF12)>, /* FMC_NWE */
                        <STM32_PINMUX('D', 11, AF12)>, /* FMC_CLE */
                        <STM32_PINMUX('D', 12, AF12)>, /* FMC_ALE */
                        <STM32_PINMUX('D', 14, AF12)>, /* FMC_D0 */
                        <STM32_PINMUX('D', 15, AF12)>, /* FMC_D1 */
                        <STM32_PINMUX('E', 7, AF12)>, /* FMC_D4 */
                        <STM32_PINMUX('E', 8, AF12)>, /* FMC_D5 */
                        <STM32_PINMUX('E', 9, AF12)>, /* FMC_D6 */
                        <STM32_PINMUX('E', 10, AF12)>, /* FMC_D7 */
                        <STM32_PINMUX('G', 9, AF12)>; /* FMC_NCE */
            bias-disable;
            drive-push-pull;
            slew-rate = <3>;
        };
        pins2 {
            u-boot,dm-pre-reloc;
            pinmux = <STM32_PINMUX('D', 6, AF12)>; /* FMC_NWAIT */
            bias-disable;
        };
    };    

};

&rtc {
	pinctrl-names = "default";
    pinctrl-0 = <&rtc_out2_rmp_pins_a>;
    st,lsco = <RTC_OUT2_RMP>;
    status = "okay";
};

&iwdg2{
    status = "okay";

    /* USER CODE BEGIN iwdg2 */
    /* USER CODE END iwdg2 */
};

&rcc{
    u-boot,dm-pre-reloc;
    status = "okay";

    /* USER CODE BEGIN rcc */
    /* USER CODE END rcc */
};

&sdmmc1{
    u-boot,dm-pre-reloc;
    pinctrl-names = "default";
    pinctrl-0 = <&sdmmc1_pins_mx>;
    status = "okay";

    /* USER CODE BEGIN sdmmc1 */
	broken-cd;
	st,neg-edge;
	bus-width = <4>;
	max-frequency = <10000000>;
	vmmc-supply = <&v3v3>;
    /* USER CODE END sdmmc1 */
};

&sdmmc3{
    u-boot,dm-pre-reloc;
    pinctrl-names = "default";
    pinctrl-0 = <&sdmmc3_pins_mx>;
    status = "okay";

    /* USER CODE BEGIN sdmmc3 */
    non-removable;
	st,neg-edge;
	bus-width = <4>;
	max-frequency = <25000000>;
	vmmc-supply = <&v3v3>;
    vmmc-supply = <&reg_wifi>;
    keep-power-in-suspend;
    /* USER CODE END sdmmc3 */
};

/* expansion connector */
&usart1{
    pinctrl-names = "default";
    pinctrl-0 = <&usart1_pins_mx>;
    status = "okay";

    /* USER CODE BEGIN usart1 */
    /* USER CODE END usart1 */
};

/* rs485 */
&usart3{
    pinctrl-names = "default";
    pinctrl-0 = <&usart3_pins_mx>;
    linux,rs485-enabled-at-boot-time;
    status = "okay";

    /* USER CODE BEGIN usart3 */
    /* USER CODE END usart3 */
};

/* linux console */
&uart4{
    pinctrl-names = "default";
    pinctrl-0 = <&uart4_pins_mx>;
    status = "okay";

    /* USER CODE BEGIN uart4 */
    /* USER CODE END uart4 */
};

/* Bluetooth     */
&uart7{
    pinctrl-names = "default";
    pinctrl-0 = <&uart7_pins_mx>;
    vmmc-supply = <&reg_bl>;
    st,hw-flow-ctrl;
    status = "okay";
	
    /* USER CODE BEGIN uart7 */
    /* USER CODE END uart7 */
};

/*  RS232 */
&uart8{
    pinctrl-names = "default";
    pinctrl-0 = <&uart8_pins_mx>;
    status = "okay";

    /* USER CODE BEGIN uart8 */
    /* USER CODE END uart8 */
};


/* USER CODE BEGIN addons */
&dma1 {
	sram = <&dma_pool>;
};

&dma2 {
	sram = <&dma_pool>;
};

&ethernet0 {
    pinctrl-names = "default";
    pinctrl-0 = <&eth1_pins_mx  &eth_res>;
	phy-mode = "rmii";
	max-speed = <100>;
	phy-handle = <&phy0>;
	snps,ps-speed = <100>;
    st,eth_ref_clk_sel;
	status = "okay";

    clock-names = "stmmaceth",
                "mac-clk-tx",
                "mac-clk-rx",
                "ethstp",
                "syscfg-clk",
                "eth-ck";

    clocks = <&rcc ETHMAC>,
            <&rcc ETHTX>,
            <&rcc ETHRX>,
            <&rcc ETHSTP>,
            <&rcc SYSCFG>,
            <&rcc ETHCK_K>;
	
    mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		snps,reset-gpio = <&gpioa 13 0>;
		snps,reset-delays-us = <25>;
		snps,reset-active-low;

		phy0: ethernet-phy-0 {
			reg = <0>;
		};
	};
};

&usbh_ehci {
	phys = <&usbphyc_port0>;
	phy-names = "usb";
	status = "okay";
};

&usbotg_hs {
	dr_mode = "host";
	force-b-session-valid;
	phys = <&usbphyc_port1 0>;
	phy-names = "usb2-phy";
	status = "okay";
};

&usbphyc {
	status = "okay";
};

&usbphyc_port0 {
	st,phy-tuning = <&usb_phy_tuning>;
};

&usbphyc_port1 {
	st,phy-tuning = <&usb_phy_tuning>;
};


&fmc {
	pinctrl-names = "default";
	pinctrl-0 = <&fmc_pins_a>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	nand: nand@0 {
		reg = <0>;
		nand-on-flash-bbt;
		#address-cells = <1>;
		#size-cells = <1>;
		
        partition@0 {
            label = "nand-boot";
            reg = <0x00000000 0x01400000>;
        };

        partition@1400000 {
            label = "nand-fs";
            reg = <0x01400000 0x1e000000>;
        };
	};
};


&adc {
	/* ANA0, ANA1 are dedicated pins and don't need pinctrl: only in6. */
	vdd-supply = <&vdd>;
	vdda-supply = <&vdda>;
	vref-supply = <&vdda>;
	status = "okay";
	adc1: adc@0 {
		st,adc-channels = <0 1>;
		/* 16.5 ck_cycles sampling time */
		st,min-sample-time-nsecs = <400>;
		status = "okay";
	};
	jadc1: jadc@0 {
		st,adc-channels = <0 1>;
		/* 16.5 ck_cycles sampling time */
		st,min-sample-time-nsecs = <400>;
		status = "okay";
	};
	/* temperature sensor on adc2 */
	adc2: adc@100 {
		status = "okay";
	};
	adc_temp: temp {
		status = "okay";
	};
};

&dts {
	status = "okay";
};

&pwr {
	status = "okay";
};

&vrefbuf {
	regulator-min-microvolt = <2500000>;
	regulator-max-microvolt = <2500000>;
	vdda-supply = <&vdd>;
	status = "okay";
};

&gpu {
	contiguous-area = <&gpu_reserved>;
	status = "okay";
};

&dma1 {
	sram = <&dma_pool>;
};

&dma2 {
	sram = <&dma_pool>;
};

&ipcc{
    status = "okay";
};

&m4_rproc {
    memory-region = <&retram>, <&mcuram>, <&mcuram2>, <&vdev0vring0>,
			<&vdev0vring1>, <&vdev0buffer>;
	mboxes = <&ipcc 0>, <&ipcc 1>, <&ipcc 2>;
	mbox-names = "vq0", "vq1", "shutdown";
	interrupt-parent = <&exti>;
	interrupts = <68 1>;
	interrupt-names = "wdg";
	recovery;
	status = "okay";
};


/* USER CODE END addons */

